
/*estilos header*/

.navbar{
    padding-bottom: 30px;

    & .nav-link{
        color: darken(#B8B8DF, 15%);
        text-decoration:none;
        &.active{
            color:#fca011;
        }
        &:hover{
            color: darken(#B8B8DF, 30%);
        }
    }
    & .bienvenidaUser{
        color:#F48691;
    }
}


.logotitle{
    color: darken(#B8B8DF, 15%);
    font-family: 'Homemade Apple', cursive;
    font-weight: 400;
    font-size: 45px;
    &:hover{
        color: darken(#B8B8DF, 30%);
    }
}

.formShape{
    border-radius: 5px;
    margin-right: 0px;
    border-color: #B8B8DF;
    color:#B8B8DF; 
    display: inline-flex;
    align-items: flex-end;
}

input:focus{
    color:#fca011;
}


.loginButton{
    border-radius: 5px;
    border:none;
    @include fontSetting;
    color: darken(#B8B8DF, 15%);
    height: 84%;
    width: 100%;
    background-color: white;
    display: inline-flex;
    align-items: flex-end;
    margin-bottom: 0%;
    margin-right: 7px;
    margin-left: 0%;
    
    

}

#loginItem{
    display: flex;
    flex-direction: row;
  
}

/*fin de estilos header*/