/*estilos header*/
.navbar {
  padding-bottom: 30px;
}
.navbar .nav-link {
  color: #8383c7;
  text-decoration: none;
}
.navbar .nav-link.active {
  color: #fca011;
}
.navbar .nav-link:hover {
  color: #4f4faf;
}
.navbar .bienvenidaUser {
  color: #F48691;
}

.logotitle {
  color: #8383c7;
  font-family: "Homemade Apple", cursive;
  font-weight: 400;
  font-size: 45px;
}
.logotitle:hover {
  color: #4f4faf;
}

.formShape {
  border-radius: 5px;
  margin-right: 0px;
  border-color: #B8B8DF;
  color: #B8B8DF;
  display: inline-flex;
  align-items: flex-end;
}

input:focus {
  color: #fca011;
}

.loginButton {
  border-radius: 5px;
  border: none;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #8383c7;
  height: 84%;
  width: 100%;
  background-color: white;
  display: inline-flex;
  align-items: flex-end;
  margin-bottom: 0%;
  margin-right: 7px;
  margin-left: 0%;
}

#loginItem {
  display: flex;
  flex-direction: row;
}

/*fin de estilos header*/
/*estilo footer*/
footer {
  background-color: #ededf7;
  padding-top: 5px;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #8383c7;
}
footer a {
  padding: 5px;
  color: #7272bf;
  text-decoration: none;
}
footer a:hover {
  color: #fca011;
}

/*fin de estilo footer*/
.cardContainer {
  padding-bottom: 30px;
  padding-top: 10px;
}

.calendarioImagen {
  padding-bottom: 30px;
  padding-top: 30px;
}

.tip_img {
  float: left;
  height: max-content;
}

.tip {
  padding: 15px;
}
.tip p {
  padding: 20px;
}

.aboutUs {
  padding-top: 30px;
  padding-bottom: 30px;
}
.aboutUs .aboutus__img {
  float: left;
  height: max-content;
  padding-right: 15px;
}

#clickRpta0, #clickRpta1, #clickRpta2 {
  background-color: white;
  color: #fca011;
  border-color: #B8B8DF;
  border-radius: 5px;
}

.cardContainerMes {
  padding-bottom: 30px;
  padding-top: 10px;
}

.calendario ul {
  color: #8383c7;
}

.calendario li {
  list-style-type: none;
  color: #fca011;
}

.calendario {
  font-family: "Dosis", sans-serif;
  font-size: 25px;
  border-radius: 5px;
  border-style: solid;
  border-color: #C8F2C7;
  max-width: 50%;
  padding: 35px;
  background-color: #d0f4cf;
  text-align: center;
}

.mesImg {
  padding: 10px;
  border: 2px solid white;
}
.mesImg:hover {
  border: 2px solid #fca011;
}

.cajitaMes {
  position: relative;
  display: inline-block;
}

.txtMes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.carousel-inner img {
  margin: auto;
  width: 100%;
}

p {
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  color: #7272bf;
}

body {
  font-family: "Dosis", sans-serif;
  max-height: 100vh;
  padding: 0;
}

.banner {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-top: 30px;
  padding-bottom: 20px;
}
.banner .banner_img {
  width: 100%;
}

#newsletter {
  padding-top: 50px;
}

#btnSub {
  background-color: #B8B8DF;
  color: white;
}

#email {
  margin-right: 10px;
}

.volverBtn {
  background-color: #B8B8DF;
  color: white;
}

/*# sourceMappingURL=estilo.css.map */
