@import "variables";
@import "header";
@import "footer";
@import "cardcontainer";


.carousel-inner img {
    margin: auto;
    width: 100%;
  }

p{
    @include fontSetting;
    color: darken(#B8B8DF, 20%);

}

body{
    font-family: $fontFamily;
    max-height: 100vh;
    padding: -0;
}

.banner{
    max-width: 100%;
    padding-left: -0;
    padding-right: -0;
    padding-top: 30px;
    padding-bottom: 20px;
    & .banner_img{
        width: 100%;
    }
}









